









/*BOTÕES*/

.btn-outline-primary{

     font-size: 20px;
    padding-left: 542px;

    padding-right: 550PX;



}




.btn-outline-secondary{

     font-size: 20px;




    padding-left: 520px;

    padding-right: 520PX;

}

.btn-outline-success{

     font-size: 20px;




    padding-left: 430px;

    padding-right: 430PX;

}
.btn-outline-danger{

     font-size: 20px;




    padding-left: 204px;

    padding-right: 204PX;

}



/*tudo sobre uma imagem */
