body {

    padding: 0;

    margin: 0;

    background-color: #00DEBD;

}

.card {


    padding: 10px;

    border-radius: 30px;

    width:980px;
    height: 550px

}






/* BUTÕES */



.btn-outline-primary{

     font-size: 20px;
    padding-left: 270px;

    padding-right: 270PX;


}




.btn-outline-secondary{

     font-size: 20px;

    padding-left: 250px;

    padding-right: 240PX;

}

.btn-outline-success{

     font-size: 20px;




    padding-left: 250px;

    padding-right: 250PX;

}

.btn-outline-danger{

     font-size: 20px;




    padding-left: 240px;

    padding-right: 240PX;

}

.col-md-2 {

    display: table;


}



.card {
align-items: center;
       padding: 0px 25px;
        align-items: center;

}



