{% extends 'base.html' %}
{% load static %}

{% block title %}SELECIONE O SERVIÇO{% endblock %}

{% block body %}


    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">




<!-- topico -->

 <H1 class="top" >

   <br>
     <p  align="center">   <font size="5">   <font face="times"> <B>SELECIONE O SERVIÇO   </B> </font>     </font>  </p>    </H1>

</div>


    <!-- botoes multipla escolha c/ imagens -->
<hr>

    <H4>  <b>      <font face="times"> <p align="center"> <font size="3"> QUAL O TAMANHO DO SEU PET?  </font>  </p> </font>   </b></H4>

<hr>


    <p align="center">
        <button type="button" class="btn btn-outline-primary">   <img src="{% static 'image/dasdsssss.png' %}"  width="40px"  height="40" alt="Primeiro slide" >   Mini (Até 5kg)</button> <br>
        <br>
        <button type="button" class="btn btn-outline-secondary">  <img src="{% static 'image/dasdsssss.png' %}"  width="40px"  height="40" alt="Primeiro slide" >      Pequeno (Até 10kg)</button> <br>
        <br>
        <button type="button" class="btn btn-outline-success">   <img src="{% static 'image/dasdsssss.png' %}"  width="40px"  height="40" alt="Primeiro slide" >      Médio (Até 20kg) </button> <br>
        <br>
        <button type="button" class="btn btn-outline-danger">   <img src="{% static 'image/dasdsssss.png' %}"  width="40px"  height="40" alt="Primeiro slide" >    Grande (Acima de 20kg) </button>
    </p>
<p></p>
<p></p>
<p></p> <p></p>
<p></p><p></p>
<p></p>
<hr>




{% endblock %}