{% extends 'home.html' %}
{% load static %}
{% block home %}

<!-- cabeçalho -->


<div class="nsei" style="background-color: whitesmoke;">
 <H1 class="serv" >
   <br>
     <p align="center">  <font face="times"> <B>FARMÁCIA  </B> <hr> </font>  </p>    </H1>
    <br><br><br><br>

</div>



<header>

    <div class="serv2">
        <div class="logo-imagem"></div>
        <div class="logo-text">

        </div>

    </div>

<br> <br>


<!-- serviço abaixo  = area banho e tosa-->

    <h1> BANHO & TOSA  </h1>
    <br>




<div class="card" style="width: 18rem;" >
  <img src="{% static 'image/cao.jpeg' %}" class="card-img-top" alt="20">
  <div class="card-body">
    <h5 class="card-title">Banho</h5>
    <p class="card-text">  Simples          </p>
       <p class="card-text">R$ 40,00</p>
    <a href="#" class="btn btn-primary"> ADICIONAR AO CARRINHO </a>
  </div>
</div>

<br>

<p><hr></p>


<div class="card" style="width: 18rem;" >
  <img src="{% static 'image/cao.jpeg' %}" class="card-img-top" alt="20">
  <div class="card-body">
    <h5 class="card-title">Banho e tosa</h5>
    <p class="card-text">Máquina</p>
       <p class="card-text">R$ 70,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>
  </div>
</div>



<br>



<div class="card" style="width: 18rem;" >
  <img src="{% static 'image/cao.jpeg' %}" class="card-img-top" alt="20">
  <div class="card-body">
    <h5 class="card-title">Banho e tosa</h5>
    <p class="card-text">Tesoura</p>
       <p class="card-text">R$ 80,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>
  </div>
</div>

</header>


{% endblock %}