


{% extends 'base.html' %}
{% load static %}
{% block home %}

<!-- cabeçalho -->




    <link rel="stylesheet" href="{% static 'css/farmacia.css' %}">




<!-- cabeçalho -->



<BODY>

<header>

    <div class="container-logo">
        <img src="{% static 'image/dasdsssss.png' %}"  width="90px"  height="90" alt="logo" >


<div class="search-box">

        <input type="text" class="search-txt" placeholder="O que você está buscando?">
        <a href="#" class="search-btn">

              <img src="{% static 'image/loupe.svg' %}" width="20" height="20" alt="lupa">
        </a>
    </div>


        </div>








<!-- MENUS -->

    <div class="menu">
        <ul>



            <li><a  href="{% url 'home' %}">     <font size="2">  <font face="times"> HOME </font>    </font> </a></li>
            <li><a  href="{% url 'agenda' %}">   <font size="2" >    <font face="times">AGENDE SEU HORÁRIO </font> </font>  </a></li>
            <li><a  href="{% url 'servicos' %}">  <font size="2" >   <font face="times">SERVIÇOS </font>  </font>           </a></li>
            <li><a  href="{% url 'farmacia' %}">  <font size="2" >   <font face="times"> FARMÁCIA  </font>   </font>   </a></li>
            <li><a  href="{% url 'login' %}">   <font size="2" >     <font face="times"> MINHA CONTA </font>  </font>  </a></li>
            <li><a  href="#">   <font size="2" >     <font face="times"> MEU CARRINHO </font>  </font>  </a></li>

        </ul>
    </div>
</header>
</BODY>









<head>

  <title>
PET SHOP AUAU-MIAU
  </title>
</head>


<body>

<font color="#00DEBD">

<font size="10">
<hr>
<p align="center">

    <B> <font face="calibri">  CONHEÇA NOSSOS PRODUTOS VETERINÁRIOS  </font> </B>
<br> <hr> </b>
</p>
</font>

</font>




</body>
<p></p>
<p></p>


<!-- serviço abaixo  = area banho e tosa-->


<!-- COLUNAAAAAAAS!!! -->




<!-- TITULO 1-->

<br>


<br>
<div class="container footer">

  <div class="row">

    <div class="col-md-6">

        <h1> </p> <font  size="5" face="times"> > ANTIPULGAS  </p>  </font> </font>  </h1>
        <hr>



    </div>



<!-- IMAGEM 1-->


<div class="container footer">
  <div class="row">

    <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>


  </div>
</div>
    </div>
 <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>


  </div>
</div>
    </div>

       <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>
<hr>

  </div>
</div>
    </div>
 <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>


  </div>
</div>
    </div>
       <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>


  </div>
</div>
    </div>
       <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/rem.jpeg' %}" class="card-img-top" alt="20" width="200px" height="350px">
  <div class="card-body">
    <h5 class="card-title">Credeli 56,25 mm </h5>
    <p class="card-text">Antipulgas </p>
       <p class="card-text">R$ 65,00</p>
    <a href="#" class="btn btn-primary">ADICIONAR AO CARRINHO</a>


  </div>
</div>
    </div>


      <hr> <br>


























  </div>
</div>

  </div>
</div>

</div>

</div>

  </div>
</div>

</div>
<div>

</div>

  </div>
  </div>
  </div>

  </div>
</div>
</header>
{% endblock %}
