{% extends 'base.html' %}
{% load static %}
{% block home %}



<!-- chama o css-->
<head>

        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport"content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="{% static 'css/home.css' %}">

    </head>


<!-- IMAGEM E LUPA -->


<BODY>

<header>

    <div class="container-logo">
        <a  href="{% url 'home' %}">    <img src="{% static 'image/dasdsssss.png' %}"  width="90px"  height="90" alt="Primeiro slide" >
       </a>

<div class="seearch-boxx">

        <input type="text" class="seearch-txxt" placeholder="O que você está buscando?" name="q" id="q">
        <a href="#" class="seearch-btnn">

              <img src="{% static 'image/loupe.svg' %}" width="20" height="20" alt="lupa">

        </a>
    </div>


        </div>





    <!-- MENUS -->
      <div class="menu">
          <ul>

          <li><a  href="{% url 'home' %}">     <font size="2">  <font face="times"> HOME </font>    </font> </a></li>
            <li><a  href="{% url 'agenda' %}">   <font size="2" >    <font face="times">AGENDE SEU HORÁRIO </font> </font>  </a></li>
            <li><a  href="{% url 'servicos' %}">  <font size="2" >   <font face="times">SERVIÇOS </font>  </font>           </a></li>
            <li><a  href="{% url 'farmacia' %}">  <font size="2" >   <font face="times"> FARMÁCIA  </font>   </font>   </a></li>

           <li> <a href="login">   <font size="2" >     <font face="times">MINHA CONTA </font>  </font> </a> </li>
               <li><a  href="#">   <font size="2" >     <font face="times"> MEU CARRINHO </font>  </font>  </a></li>

             <!-- <li><a href="login"> <font size="2" >     <font face="times">        Login      </font> </font>      </a></li>

              <li><a href="{% url 'cadastro' %}">   <font size="2" >     <font face="times"> Cadastre-se   </font> </font> </a></li>

-->
          </ul>






      </div>
</header>


</BODY>













<!-- TITULO -->















  <title>
PET SHOP AUAU-MIAU
  </title>
</head>


<body>

<font color="#E29E71">

<font size="70">
<hr>
<p align="center">

    <B> <font face="calibri">   - PET SHOP AUAU-MIAU -   </font> </B>

</p>
</font>

</font>




</body>
<p></p>
<p></p>

<body>

<div class="col-8 m-auto pt-2 pb-2" >
<h1> CRUD COM PYTHON</h1>
</div>


<div class="col-8 m-auto pt-2 pb-2" >
<a href="" class=" btn btn-sucess"> adicionar </a>

</div>


 <div class="col-8 m-auto pt-2 pb-2" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

</div>

</body>

















<!-- CARROSEL - TENTATIVA -->



<main class="main">
    <section class="galery">


    <div class="photos">

         <img src="{% static 'image/desing1.png' %}"  width="100px"  height="300px" alt="Primeiro slide" >
         <img src="{% static 'image/BANHO.PNG' %}"  width="100px" height=300px" alt="Primeiro slide" >
          <img src="{% static 'image/TOSA.png' %}"  width="100px" height="300px" alt="Primeiro slide" >
        <img src="{% static 'image/desing1.png' %}"  width="100px"  height="300px" alt="Primeiro slide" >



    </div>
    </section>
</main>


<hr>


















<!extenção -->



<br>
<div class="container footer">
  <div class="row">
    <div class="col-md-6">

        <h1> </p> <font  size="5" face="times"> > BANHO & TOSA  </p>  </font> </font>  </h1>
        <hr>



    </div>



<!-- IMAGEM 1-->


<div class="container footer">
  <div class="row">

    <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/gato.png' %}" class="card-img-top" alt="20" width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Banho </h5>
    <p class="card-text">Gatos </p>
       <p class="card-text">R$ 95</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>


  </div>
</div>
    </div>




<!-- IMAGEM 2-->


    <div class="col-md-2">

      <div class="card2" style="width: 18rem;" >
  <img src="{% static 'image/dog2.jpeg' %}" class="card-img-top" alt="20" width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Banho e tosa (Máquina)</h5>
    <p class="card-text">Cães pequenos</p>
       <p class="card-text">R$ 70,00</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>


  </div>
</div>
    </div>





<!-- IMAGEM 3-->

<br>


    <div class="col-md-2">
<div class="card3" style="width: 18rem;" >

  <img src="{% static 'image/cao.jpeg' %}" class="card-img-top" alt="20"  width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Banho e tosa (Máquina)</h5>
    <p class="card-text">Cães médios</p>
       <p class="card-text">R$ 75,00</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>

  </div>
</div>
    </div>

<P></P>
      <P></P>


  </div>
</div>
  </div>
</div>

<hr>



<br>

<div class="container footer">
  <div class="row">

      <P></P>
      <P></P>
<h1> </p> <font  size="5" face="times"> >BEM-ESTAR <HR>  </p>  </font> </font>  </h1>


    <div class="col-md-2">

<div class="card1" style="width: 18rem;" >
  <img src="{% static 'image/walker.jpeg' %}" class="card-img-top" alt="20" width="200px" height="200px">
  <div class="card-body">
    <h5 class="card-title">Dog Walker</h5>
    <p class="card-text">Relax (4 passeios) </p>
       <p class="card-text">R$ 160,00</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>


  </div>
</div>
    </div>







<br>

    <div class="col-md-2">

      <div class="card2" style="width: 18rem;" >
  <img src="{% static 'image/walker2.jpeg' %}" class="card-img-top" alt="20" width="200px"   height="200px">
  <div class="card-body">
    <h5 class="card-title">Dog Walker</h5>
    <p class="card-text">Ativo (8 passeios)</p>
       <p class="card-text">R$ 320,00</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>

<br>
  </div>
</div>
    </div>




<br>


    <div class="col-md-2">
<div class="card3" style="width: 18rem;" >

  <img src="{% static 'image/acu.jpeg' %}" class="card-img-top" alt="20" width="200px"   height="200px">
  <div class="card-body">
    <h5 class="card-title">Acupultura Veterinaria</h5>
    <p class="card-text">  Bem-estar </p>
       <p class="card-text">Preço a definir </p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>

  </div>
</div>
    </div>
<P></P>
<HR>








<div class="container footer">
  <div class="row">
      <P></P>

<h1> </p> <font  size="5" face="times"> >EDUCAÇÃO <HR>  </p>  </font> </font>  </h1>


  <!-- IMAGEM 1 - EDUCAÇÃO- COLUNA 1-->

    <div class="col-md-2">
<div class="card1" style="width: 18rem;" >

  <img src="{% static 'image/ades.jpeg' %}" class="card-img-top" alt="20" width="200px"   height="200px">
  <div class="card-body">
    <h5 class="card-title">Adestramento</h5>
    <p class="card-text">Cães</p>
       <p class="card-text"> Escolha o tipo </p>
    <a href="{% url 'agenda' %}" class="btn btn-primary"> AGENDE SEU HORÁRIO </a>

  </div>
</div>
    </div>

            <!-- IMAGEM 2 - EDUCAÇÃO- COLUNA 1-->


    <div class="col-md-2">
<div class="card4" style="width: 18rem;" >

  <img src="{% static 'image/guia.jpg' %}" class="card-img-top" alt="20" width="200px"   height="200px">
  <div class="card-body">
    <h5 class="card-title">Adestramento </h5>
    <p class="card-text">Cão-guia</p>
       <p class="card-text">R$--</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>

  </div>
</div>
    </div>



       <!-- IMAGEM 3 - EDUCAÇÃO- COLUNA 1-->



    <div class="col-md-2">
<div class="card4" style="width: 18rem;" >

  <img src="{% static 'image/hospcat.jpeg' %}" class="card-img-top" alt="20" width="200px"   height="200px">
  <div class="card-body">
    <h5 class="card-title">Hospedagem </h5>
    <p class="card-text">Gatos de todo porte</p>
       <p class="card-text">R$55,00</p>
    <a href="{% url 'agenda' %}" class="btn btn-primary">AGENDE SEU HORÁRIO</a>

  </div>
</div>
    </div>

<p></p>
<hr>































</div></div>
<p></p>


</div>

</div>
</html>



{% endblock %}












