{% extends 'base.html' %}

{% load static %}

{% block title %}SELECIONE O SERVIÇO{% endblock %}

{% block body %}


    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">






<style>


  .imagemContain {
    background-image: url(https://i.pinimg.com/564x/c5/a6/29/c5a62949866bc216d3866b1aad367877.jpg);

    background-size: contain;
}


</style>



<body>
  <div class="box imagemContain">

       <H1 class="top" >

   <br>
     <p  align="center">   <font size="5">   <font face="times"> <B>AREA DE AGENDAMENTO  </B> </font>     </font>  </p>    </H1>

<hr>

    <H4>  <b>      <font face="times"> <p align="center"> <font size="3"> SELECIONE O SERVIÇO  </font>  </p> </font>   </b></H4>

<hr>

   <p align="center">
        <button  type="button" class="btn btn-outline-primary">  <img src="{% static 'image/dasdsssss.png' %}"  width="20px"  height="20" alt="Primeiro slide" >   Cão</button> <br>
        <br>
        <button   type="button" class="btn btn-outline-secondary">  <img src="{% static 'image/dasdsssss.png' %}"  width="20px"  height="20" alt="Primeiro slide" >      Gato</button> <br>
        <br>
        <button   type="button" class="btn btn-outline-success">   <img src="{% static 'image/dasdsssss.png' %}"  width="20px"  height="20" alt="Primeiro slide" >      Coelho </button> <br>
        <br>
        <button    type="button" class="btn btn-outline-danger">   <img src="{% static 'image/dasdsssss.png' %}"  width="20px"  height="20" alt="Primeiro slide" >    Porco </button> <br>
        <br>
        </p>

<p></p>
<p></p>
<p></p> <p></p>
<p></p><p></p>
<p></p>
<hr>


  </div>
    <p class="paragrafo">






</body>












    <!-- botoes multipla escolha c/ imagens       TAMANHO    -->


















{% endblock %}